* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: calc(50% / 3);
    margin-bottom: 20px;
}

ul li {
    list-style: none;
}

img {
    width: 150px;
}